.container{
    display:grid;
    grid-template-areas: 
    "first second third " 
    "fourth fifth sixth";
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 100px;
    gap: 300px 0px;
    width: 100%;
    height: 1000px;       
    align-items: center;  
    justify-content: center;       
    background-color: #141414;
    
    
    
}

.item1{

    grid-area: first;

}
.item2{
    grid-area: second;
}

.item3{
    grid-area: third;
}

.item4{
    grid-area: fourth;
}

.item5{
    grid-area: fifth;
}

.item6{
    grid-area: sixth;
}