.container-inicial{
    width: 100%; 
    height: 350px;   
    background: #141414;
    padding: 0;
    
   
}

.menu__logo{
    list-style: none;
    opacity: 0;
}

.menu__itens{

    display: flex;
    gap: 50px;
    color: #fff;
    text-decoration: none;
    list-style: none;
    align-items: center;
    padding-left: 200px;
    
}

.menu-logo{

    padding-top: 40px;
}



.menu__link--active{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;   
    text-decoration: none;
}

.menu__link{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    
}

.menu-bottom{
    padding-left: 300px;
}

.menu__buttom{
    width: 214px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFF;
    background-color:#141414 ;
    color: #fff;  
        
}

main{
    width: 100%;
    background-color: #141414;
}


.menu__text{
    background: #141414;
    margin-top: 0;
   
}


h1{
    width: 592px;
    color: #FFF;
    font-family: Calistoga;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    padding-left: 200px;
}

.menu__text-login{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.menu__text{
    display: flex;
    width: 100%;
   
}

.menu__text-p{
    width: 488px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-left: 200px;
}

.menu__text-buttom{
    width: 280px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FE6A0F;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    margin-left: 200PX;
    margin-top: 40px;
    
}

.photo{
   
    align-items: flex-end;
    width: 518px;
    height: 678px;
    flex-shrink: 0; 

}

.menu__search{
    width: 100%;
    height: 372px;
    flex-shrink: 0;
    background: #1F1F1F;
    height: 300px;
    margin-top: -100px;
}  

.menu__container{
    display: flex;
    gap: 200px;
    padding-left: 200px;
    color: #979797;
}

.menu__search-p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 389px;
    padding-left: 200px;
    padding-top: 50px;
    
}

.menu__search-img{
    width: 250px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #2B2B2B;  
    padding-top: 10px 10px 10px 0;
    display: flex;
    gap: 20px;
    

    
}

.menu__search-select{
    width: 250px;
    height: 20px;
    flex-shrink: 0; 
    border-radius: 5px;
    background-color: #2B2B2B;
    text-align: center;
    padding: 10px;
    gap: 80px;
    display: flex;
    
    
        
}

.menu-input{
    background: #2B2B2B;    
    outline: none;
    
}
  



.item{
    
    flex-shrink: 0;
    border-radius: 8px 8px 0px 0px;
    background: #2B2B2B;    
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;  
    height: 200px;
    width: 384px;
    
}


.cards{

    width: 90%;
    
    list-style-type: none;    
    flex-direction: column;
    background-color: rgb(25, 25, 25); 
    margin-top: -50px;   
    padding: 50px 20px 10px 20px;
     
    
}

.img-card{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative;
    
    
}

.cards-type{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    padding-top: 10px;
    width: 80%;

}

.cards-name{
    color: #FFF;
    font-family: Calistoga;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
    padding-top: 10px;
    width: 80%;
}

.cards-price{
    color: #FE6A0F;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
    width: 80%;

}

footer{
    width:100%;  
    
      
}
    

.Logo-final{
    padding: 150px 30px;
    font-size: 100px;
    background-color: #1F1F1F;   
    
    
}